.PokemonList {
    display: grid;
    grid-template-columns: repeat(1, 150px);
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 3rem;
}
@media screen and (min-width: 443px) {
    .PokemonList {
        grid-template-columns: repeat(2, 150px);
    }
}

@media screen and (min-width: 778px) {
    .PokemonList {
        grid-template-columns: repeat(3, 150px);
    }
}

@media screen and (min-width: 1240px) {
    .PokemonList {
        grid-template-columns: repeat(4, 150px);
    }
}

@media screen and (min-width: 1680px) {
    .PokemonList {
        grid-template-columns: repeat(5, 150px);
    }
}